
<!--Akshit Narang, #301177669, COMP 229, Section 008-->
    
    
</main>
<footer style="margin-top: 200px; margin-bottom: 0px; bottom: 0px; position:absolute;">
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <p style="display: block; float: left; margin-left: 20px; color: white;">
          &copy;&nbsp;Copyright Akshit Narang #301177669<br>COMP 229<br>Section 008<br>Web Application Development
        </p>
        <img src="/images/image_logo.png" alt="Logo" style="float: right; width: 15%; height: auto; padding: 10px;">
      </div>
    </nav>
  </footer>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>

</html>